.preloader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
}

#loader {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
